<div class="clear"></div>
<div class="grid_16 alpha omega endform">
  <input type="submit" value="<%= button_txt %> →" class="button green">
  <span class="goback"><%= t("or") %> <%= link_to t('go_back'), back_to %></span>
</div>
<div class="clear"></div>
