<ul>
	<li><%= tab_to "<img src='/images/admin/color_swatch.png' alt='icon' class='icon'/> Geral", [{:controller => "admin/admin_dashboard"}] %></li> 
	<li><%= tab_to "<img src='/images/admin/user_orange.png' alt='icon' class='icon'/> Users", [{:controller => "admin/users"}] %></li>
</ul>